<br>
<br>
<h2>Your Closest Station</h2>

<p>Station Name: <%= @facade.nearest_destination_name %></p>
<p>Fuel Type: <%= @facade.nearest_destination_fuel_type %></p>
<p>Access Times: <%= @facade.nearest_destination_access_days_time %></p>
<p>Address: <%= @facade.nearest_destination_address %></p>
<p>Distance: <%= @facade.distance %></p>
<p>HTML Instructions: <%= @facade.html_instructions%></p>
